{% for animation in animations %}
  .{{ animation.class_name }} {
    animation: {{ animation.class_name }} {{ animation.time_seconds }}s linear infinite;
    --SIZE: 32px;
    background-size: 100%;
    width: var(--SIZE);
    height: var(--SIZE);
    background-image: url("{{ animation.url }}");
  }

  @keyframes {{ animation.class_name }} {
  {% for frame in animation.frames %}
    {{ frame.start_percent }}%, {{ frame.end_percent }}% { background-position-y: {{ -100 * frame.index}}% }
  {% endfor %}
  }
{% endfor %}
